@import '~antd/dist/antd.css';

.Header{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 50px rgba(226, 120, 0, 0.109);
  z-index: 999;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
  }

.cityName{
    color: rgb(39, 39, 39);
}
body{
  position: relative;
}
.content{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
}
.Box{
  max-width: 1100px;

}
.mainCard{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.greet{
  font-size: 25px;
  font-weight: bold;
}

.weatherCard{
  height: auto;
}

.tempreture{
  font-size: 50px;
  line-height: 70px;
  padding-bottom: 20px;
}
.tempNow{
  float: right;
  justify-content:center;
}
.dayAndNight{
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  height:auto;
  width: 70px;
  flex-wrap: wrap;
  font-size: medium;
  float: left;
}

.hourData{
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 0px 50px rgba(223, 223, 223, 0.616);
  border-radius:15px 15px 15px 15px;
  width: 100%;
  min-width: 300px;
}

.hours{
  padding-top: 4px;
  padding-left: 4px;
  height: 185px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

}
.hour{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  border-radius:15px 15px 15px 15px;
}
.dayData{
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 0px 50px rgba(223, 223, 223, 0.616);
  border-radius:15px 15px 15px 15px;
  width: 38%;
  min-width: 300px;
  float: left;
  z-index: 99;
}
.sevenDays{
  padding:4px;
  overflow: scroll;
}
.day{
  padding-top: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius:15px 15px 15px 15px;
  padding:5px;
}
.aqi{
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 0px 50px rgba(223, 223, 223, 0.616);
  border-radius:15px 15px 15px 15px;
  width: 60%;
  min-width: 300px;
  height: 160px;
  float: right;
  z-index: 99;
}
.life{
  
}
.lifeBox{
  margin-top: 40px;
  margin-left: 41px;
  padding: 20px;
  box-shadow: 0px 0px 50px rgba(223, 223, 223, 0.616);
  border-radius:15px 15px 15px 15px;
  width: 300px;
  height: 300px;
  float: right;
}